# Xcode
#
# User-specific files
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Build products and caches
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Swift Package Manager
.Packages
.swiftpm
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Other
.DS_Store
*.swp
*~.nib
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Archives
*.xcarchive

# Code coverage
*.gcno
*.gcda
*.gcov

# Miscellaneous
.idea/
*.moved-aside
*.bak
*.orig
Thumbs.db
